* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  text-decoration: none;
  outline-style: none;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

// input[type="date"]::-webkit-datetime-edit-text {
//   -webkit-appearance: none;
//   display: none;
// }
// input[type="date"]::-webkit-datetime-edit-month-field {
//   -webkit-appearance: none;
//   display: none;
// }
// input[type="date"]::-webkit-datetime-edit-day-field {
//   -webkit-appearance: none;
//   display: none;
// }
// input[type="date"]::-webkit-datetime-edit-year-field {
//   -webkit-appearance: none;
//   display: none;
// }
