.HotelType {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  .HotelTypeFrame {
    margin: 1rem;
  }
}
.HotelTypetitle {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 2rem;
  padding-left: 1rem;
}

@media (max-width: 992px) {
  .HotelType {
    flex-wrap: wrap;
  }
}
