.RegisterStyle {
  background-color: var(--main-background-color);
  .RegisterForm {
    padding: 1rem;
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 612px) {
      input {
        max-width: 320px;
        max-height: 50px;
        margin-bottom: 1rem;
      }
    }
    .RegisterTitle {
      color: var(--main-font-color);
      padding: 2rem 0;
      font-size: 2.5rem;
    }
    .RegisterSubTitle {
      color: var(--main-font-color);
      font-size: 1.3rem;
      font-weight: 300;
    }
    input {
      height: 4rem;
      width: 400px;
      margin-top: 2rem;
      border-radius: 12px;
      font-size: 1rem;
      padding-left: 1rem;
    }
  }
}
